.likedmovie{
    background-color: #000;
  color: #fff;
  min-height: 100vh;
}
.content-grid{
    max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  
}

.content-grid>h1{
    font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  color: violet;
}
.content-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}
@media (max-width: 768px) {
    .content-flex {
      justify-content: center;
    }
  }
/* .content-grid{
    margin: 2rem;
    margin-top: 7rem;
    gap: 3rem;
}
.content>h1{
    margin-left: 2rem;
}
.content-flex{
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
} */